# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Upload and Execute OrbBasic Program'
      'command': 'sphero:uploadAndExecute'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Sphero'
      'submenu': [
        {
          'label': 'Upload and Execute Program'
          'command': 'sphero:uploadAndExecute'
        }
      ]
    ]
  }
]
